* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM GLOBAL COLORS */
:root {
  --primary: #58c7c5;
  --blue: #50889d;
  --secondary: #50889d;
  --tertiary: #bcf4f7;
  --black: #000000;
  --text-light: #f0f0f0;
  --text-dark: #090909;
  --danger: #dc3545;
  --success: #28a745;
  --off_black: #090909;
  --nav_grey: rgb(33, 37, 41);
  --white: #f0f0f0;
  --light_blue: #bcf4f7;
  --slate_grey: #778899;
  --lcw_bg: #00050f;
  --lcw-blue-bg: #58c7c5;
}

#root {
  background-image: url("https://wallpaper.dog/large/525965.jpg");


  background-size: cover;
  min-height: 65em;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.landingpage-container {
  margin: 0 auto;
}

.navLogo {
  height: 3em;
  width: 3em;
}

/* This applies to all scrollbars in your application */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

@media (max-width: 1920px) {
  #root {
    min-height: 50em;
  }
}

@media (max-width: 768px) {
  #root {
    min-height: 35em;
  }
}